<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/admin_panel.css">
</head>
<body>
<div class="admin-panel">
    <div class="shapka-container">
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../../static/images/back.svg" alt="Back">
            </div>
            <button type="button" class="auth-button">BACK</button>
        </div>
        <button type="button" class="auth-button">LOG OUT</button>
    </div>

    <div class="content-container">
        <div class="admin-header">ADMIN PANEL</div>
        <div class="admin-buttons-container">
            <button type="button" class="admin-button">USER'S SETTINGS</button>
            <button type="button" class="admin-button">SUBSCRIPTIONS' SETTINGS</button>
        </div>
    </div>
</div>
</body>
</html>