{% extends "layout.html"%}
    {% block styles%}
    <link rel="stylesheet" href="./../../static/admin_panel.css">
    {% endblock styles%}
        {%block links%}
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../../static/images/back.svg" alt="Back">
            </div>
            <a href = "{{url_for('common.home')}}" <button type="button" class="auth-button">BACK</button></a>
        </div>
        <a href = "{{url_for('common.logout')}}"> <button type="button" class="auth-button1">LOG OUT</button></a>
        {% endblock links %}
    {% block content %}
    <div class="content-container">
        <div class="admin-header">ADMIN PANEL</div>
        <div class="admin-buttons-container">
            <a href = "{{url_for('admin.user_settings')}}"><button type="button" class="admin-button">USER'S SETTINGS</button></a>
            <a href = "{{url_for('admin.sub_settings')}}"><button type="button" class="admin-button">SUBSCRIPTIONS' SETTINGS</button></a>
        </div>
    </div>
    {% endblock content %}
