{%extends "layout.html"%}    
{% block styles%}
    <link rel="stylesheet" href="./../../static/subscription_settings.css">
    {% endblock styles%}

        {% block links%}
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../../static/images/back.svg" alt="Back">
            </div>
            <a href ="{{url_for('admin.settings')}}"<button type="button" class="auth-button">BACK</button></a>
        </div>
        <a href = "{{url_for('common.logout')}}"><button type="button" class="auth-button1">LOG OUT</button></a>
    {% endblock links%}
    {% block content %}

    <div class="subscription-container">
        <div class="subscription-header">SUBSCRIPTIONS' SETTINGS</div>
        
        <div class="pricing-title">PRICING PLANS</div>
        
        <div class="pricing-plans">
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title">
                        <span class="plan-number">
                            <input type="text" class="plan-input plan-number" value="1" name="plan1_number">
                        </span>
                        <span class="plan-text">
                            <input type="text" class="plan-input plan-text" value="WEEK" name="plan1_text">
                        </span>
                    </div>
                    <div class="plan-price">
                        <span class="price-number">
                            <input type="text" class="plan-input price-number" value="99" name="plan1_price">
                        </span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button">
                    <img src="./../../static/images/delete.svg" alt="Delete">
                </button>
            </div>
            
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title">
                        <span class="plan-number">
                            <input type="text" class="plan-input plan-number" value="1" name="plan2_number">
                        </span>
                        <span class="plan-text">
                            <input type="text" class="plan-input plan-text" value="MONTH" name="plan2_text">
                        </span>
                    </div>
                    <div class="plan-price">
                        <span class="price-number">
                            <input type="text" class="plan-input price-number" value="199" name="plan2_price">
                        </span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button">
                    <img src="./../../static/images/delete.svg" alt="Delete">
                </button>
            </div>
            
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title">
                        <span class="plan-number">
                            <input type="text" class="plan-input plan-number" value="1" name="plan3_number">
                        </span>
                        <span class="plan-text">
                            <input type="text" class="plan-input plan-text" value="YEAR" name="plan3_text">
                        </span>
                    </div>
                    <div class="plan-price">
                        <span class="price-number">
                            <input type="text" class="plan-input price-number" value="999" name="plan3_price">
                        </span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button">
                    <img src="./../../static/images/delete.svg" alt="Delete">
                </button>
            </div>
        </div>
            
            <div class="edit-info">
                <button type="button" class="account-button discard-button">Discard changes</button>
                <button type="submit" class="account-button apply-button">Apply changes</button>
            </div>
    </div>
    {% endblock content %}
    
