<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/subscription_settings.css">
</head>

<body>
<div class="subscription-page">

    <div class="shapka-container">
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../../static/images/back.svg" alt="Back">
            </div>
            <button type="button" class="auth-button">BACK</button>
        </div>
        <button type="button" class="auth-button">LOG OUT</button>
    </div>

    <div class="subscription-container">
        <div class="subscription-header">SUBSCRIPTIONS' SETTINGS</div>
        
        <div class="pricing-title">PRICING PLANS</div>
        
        <div class="pricing-plans">
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title" contenteditable="true">
                        <span class="plan-number">1</span>
                        <span class="plan-text">WEEK</span>
                    </div>
                    <div class="plan-price" contenteditable="true">
                        <span class="price-number">99</span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button"> <img src="./../../static/images/delete.svg" alt="Delete"></button>
            </div>
            
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title" contenteditable="true">
                        <span class="plan-number">1</span>
                        <span class="plan-text">MONTH</span>
                    </div>
                    <div class="plan-price" contenteditable="true">
                        <span class="price-number">199</span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button"> <img src="./../../static/images/delete.svg" alt="Delete"></button>
            </div>
            
            <div class="plan-container">
                <div class="plan">
                    <div class="plan-title" contenteditable="true">
                        <span class="plan-number">1</span>
                        <span class="plan-text">YEAR</span>
                    </div>
                    <div class="plan-price" contenteditable="true">
                        <span class="price-number">999</span>
                        <span class="price-text">RUB</span>
                    </div>
                </div>
                <button type="button" class="delete-button"> <img src="./../../static/images/delete.svg" alt="Delete"></button>
            </div>
        </div>
        <div class="edit-info">
           <button type="button" class="account-button discard-button">Discard changes</button>
           <button type="button" class="account-button apply-button">Apply changes</button>
        </div>
    </div>

</div>
</body>
</html>