{%extends "layout.html"%}

{% block content%}
<form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.search_type.label }}
            <div class="radio-options">
                {% for subfield in form.search_type %}
                    <div class="radio-option">
                        {{ subfield }}
                        {{ subfield.label }}
                    </div>
                {% endfor %}
            </div>
            {% if form.search_type.errors %}
                <div class="error m-3">{{ form.search_type.errors[0] }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.search_query.label }}
            {{ form.search_query }}
            {% if form.search_query.errors %}
                <div class="error">{{ form.search_query.errors[0] }}</div>
            {% endif %}
        </div>
        
        {{ form.submit }}
    </form>
    {%if users%}
    {% for user in users%}
    <a href="{{url_for('user_pages', user_id = user.id)}}">Пользователь {{user.username}}, статус {{user.is_active()}}, почта {{user.email}}</a><br>
    {% endfor%}
    {%else%}
    {%endif%}
{%endblock content%}    
