    {% block styles%}
    <link rel="stylesheet" href="./../static/edit_account.css">
    {% endblock styles%}
{% extends "layout.html"%}
{% block links %}
<div class="shapka-field">
            <div class="back-logo">
                <img src="./../static/images/back.svg" alt="Back">
            </div>
            <a href = "{{url_for('account')}}" <button type="button" class="auth-button">BACK</button></a>
        </div>
      <a href = "{{url_for('logout')}}"><button type="button" class="auth-button">LOG OUT</button></a>



{% endblock links%}
{%block content%}
<form method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="content-container">
        <div class="account-container">
            <div class="account-info">EDIT ACCOUNT INFO</div>
            
            <div class="account-content">
                
               <div class="profile-section">
                <div class="profile-photo">
                    <label for="profile-photo-input" class="avatar-upload-label">
                        <img id="avatar-preview" src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}" alt="Profile Photo">
                        <span class="upload-text">Click to change photo</span>
                    </label>
                    <input type="file" id="profile-photo-input" name="profile_photo" accept="image/*" style="display: none;">
                 </div>
                </div>
                
                <div class="info-section">
                    {{form.username}}
                    {% for error in form.username.errors%}
                        <small> {{error}} </small>
                    {% endfor%}
                    {{form.email}}
                    {% for error in form.email.errors%}
                        <small> {{error}} </small>
                    {% endfor%}
                    {{form.password}}

                    {% for error in form.password.errors%}
                        <small> {{error}} </small>
                    {% endfor%}
                    {{form.confirm_password}}

                    {% for error in form.confirm_password.errors%}
                        <small> {{error}} </small>
                    {% endfor%}
                </div>
                
                </div>
                <div class="edit-info">
                    <a href = '{{url_for("edit_account_info")}}'><button type="button" class="account-button">Discard changes</button></a>
                    {{form.submit}}
                </div>
            </div>
        </div>

</div>
</form>
{% endblock content%}
</body>
</html>
