<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='edit_account.css')}}">
</head>

<body>
<div class="account-page">

    <div class="shapka-container">
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../static/images/back.svg" alt="Back">
            </div>
            <button type="button" class="auth-button">BACK</button>
        </div>
        <button type="button" class="auth-button">LOG OUT</button>
    </div>

    <div class="content-container">
    <div class="account-container">
        <div class="account-info">EDIT ACCOUNT INFO</div>
        
        <div class="account-content">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Profile Photo">
                        <span>Click to change photo</span>
                        <input type="file" name="profile_photo" style="display: none;">
                    </div>
                </div>
                
                <div class="info-section">
                    {{ form.username() }}
                    {{ form.email() }}
                    {{ form.password() }}
                    {{ form.confirm_password() }}
                </div>
                
                <div class="edit-info">
                    <button type="button" class="account-button">Discard changes</button>
                    {{form.submit(class = 'account-button')}}
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
