<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/edit_account.css">
</head>

<body>
<form method="POST" enctype="multipart/form-data">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjU1Zjg1NWQxY2ZkZDE4ZjQ5MmY2N2M3YTlhOTRmYjUzNjgzYWFhNTUi.aBc26w.8W7aodsPch238LCCZv3ilNN4lOY">
<div class="account-page">

    <div class="shapka-container">
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../static/images/back.svg" alt="Back">
            </div>
            <button type="button" class="auth-button">BACK</button>
        </div>
        <button type="button" class="auth-button">LOG OUT</button>
    </div>


    <div class="content-container">
        <div class="account-container">
            <div class="account-info">EDIT ACCOUNT INFO</div>
            
            <div class="account-content">
                
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="./../static/images/user_photo.png" alt="Profile Photo">
                        <span>Click to change photo</span>
                        <input type="file" name="profile_photo" style="display: none;">
                    </div>
                </div>
                
                <div class="info-section">
                    <input class="account-input" id="username" maxlength="20" minlength="2" name="username" placeholder="USERNAME" required type="text" value="asd">
                    <input class="account-input" id="email" name="email" placeholder="EMAIL ADDRESS" required type="text" value="asd">
                    <input class="account-input" id="password" name="password" placeholder="YOUR PASSWORD" required type="text" value="asd">
                    <input class="account-input" id="confirm_password" name="confirm_password" placeholder="NEW PASSWORD" required type="text" value="asdd">
                </div>
                
                </div>
                <div class="edit-info">
                    <button type="button" class="account-button">Discard changes</button>
                    <input class="account-button" id="submit" name="submit" type="submit" value="Apply Chandes">
                </div>
            </div>
        </div>

</div>
</form>
</body>
</html>
