<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/start_pages.css">
</head>

<body>
    <div class="auth-wrapper">
        <div class="auth-container">
            <div class="auth-logo">
                <img src="./../static/images/logo.svg" alt="Logo">
            </div>
    
                <div class="auth-field">
                    <img src="./../static/images/mail.svg" alt="Email" class="auth-icon">
                    <div class="auth-input-group">
                        <div class="auth-label">Email</div>
                        <input type="email" class="auth-input" placeholder="Enter email" required>
                    </div>
                </div>
    
                <button type="submit" class="auth-button">
                    Send email
                </button>
        </div>
    </div>
</body>
</html>
