
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
</head>

<body>
<div class="user-page">

    <div class="shapka-container">
    <div class="shapka-field">
        <div class="user-logo">
            <img src="{{url_for('static', filename='images/user_black.svg')}}" alt="User">
        </div>
        <a href = "{{url_for('account')}}"><button type="button" class="auth-button">PERSONAL ACCOUNT</button></a>
      </div>

      <a href = "{{url_for('logout')}}"><button type="button" class="auth-button">LOG OUT</button></a>
      {% if current_user.get_role() == 'admin'%}
      <a href = "{{url_for('settings')}}"><button type="button" class="auth-button">SETTINGS</button></a>
    {% else %}
    {% endif%}
    </div>

    {%block content%}

    {% endblock content%}
 
</div>
</body>
</html>
