<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='start_pages.css') }}">
</head>

<body>
<div class="auth-wrapper">
<form method="POST" action="" class="auth-container">
  {{ form.hidden_tag() }}
  
  <div class="auth-logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
  </div>
  
  <div class="auth-field">
      <img src="{{ url_for('static', filename='images/user.svg') }}" alt="User">
      <div>
          <div class="auth-label">{{ form.email.label }}</div>
          {{ form.email(class="auth-input", placeholder="Enter email") }}
          {% if form.email.errors %}
              <div class="auth-error">
                  {% for error in form.email.errors %}
                      <span class = "red_color">{{ error }}</span>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
  </div>
  
  <div class="auth-field">
      <img src="{{ url_for('static', filename='images/lock.svg') }}" alt="Lock">
      <div>
          <div class="auth-label">{{ form.password.label }}</div>
          {{ form.password(class="auth-input", placeholder="Enter password") }}
          {% if form.password.errors %}
              <div class="auth-error">
                  {% for error in form.password.errors %}
                      <span class = "red_color">{{ error }}</span>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
  </div>
  
  {{ form.submit(class="auth-button") }}
  
  <a href="{{url_for('reset_request')}}" class="auth-link">Forgot password?</a>
 
<button type="button" onclick="window.location.href= '/register'" class="auth-button">
  REGISTRATION
</button>
</form>
</div>
</body>
</html>
