<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/start_pages.css">
</head>

<body>
<div class="auth-wrapper">
<div class="auth-container">
  <div class="auth-logo">
        <img src="./../static/images/logo.svg" alt="Logo">
  </div>
  
  <div class="auth-field">
      <img src="./../static/images/mail.svg" alt="User">
      <div>
          <div class="auth-label">EMAIL</div>
          <input type="text" class="auth-input" placeholder="Enter email">
      </div>
  </div>
  
  <div class="auth-field">
      <img src="./../static/images/lock.svg" alt="Lock">
      <div>
          <div class="auth-label">PASSWORD</div>
          <input type="password" class="auth-input" placeholder="Enter password">
      </div>
  </div>
  
  <button type="button" class="auth-button">LOGIN</button>
  
  <a href="#" class="auth-link">Forgot password?</a>
  
  <button type="button" class="auth-button">REGISTRATION</button>
</div>
</div>
</body>
</html>