{% extends "layout.html"%}
{% block styles %}
        {% if current_user.get_role() == 'admin'%}
    <link rel="stylesheet" href="{{url_for('static', filename='admin_main_page.css')}}">
        {% else %}
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
        {% endif %}
{% endblock styles %}
{% block links %}
<div class="shapka-field">
        <div class="user-logo">
            <img src="{{url_for('static', filename='images/user_black.svg')}}" alt="User">
        </div>
        
        <a href = "{{url_for('common.account')}}"><button type="button" class="auth-button">PERSONAL ACCOUNT</button></a>
      </div>

      <a href = "{{url_for('common.logout')}}"><button type="button" class="auth-button s1">LOG OUT</button></a>
      {% if current_user.get_role() == 'admin'%}
      <a href = "{{url_for('admin.settings')}}"><button type="button" class="auth-button">SETTINGS</button></a>
    {% else %}
    {% endif%}
{% endblock links%}
{% block content%}
<div class="user-container">
    {% if current_user.get_role() == 'admin'%}
        <div class="auth-logo">
            <a href="{{url_for('common.upload')}}"><img src="{{url_for('static', filename = 'images/logo.svg')}}" alt="Logo"></a>
        </div>
        {% else %}
            {% if current_user.lasts == 0 %}
                <div class="auth-logo">
                    <img src="{{url_for('static', filename = 'images/logo.svg')}}" alt="Logo">
                </div>

                <a href = '{{url_for('sub.subs_shop')}}'><div class = 'no-attemps'>Кончились поптыки, купи</div></a>
            {% else %}
                <div class="auth-logo">
                    <a href="{{url_for('common.upload')}}"><img src="{{url_for('static', filename = 'images/logo.svg')}}" alt="Logo"></a>
                </div>
            {% endif %}
        {% endif %}
        {% if current_user.get_role() != 'admin' %}
        <div class="user-label">
            ATTEMTIONS {{current_user.lasts}}/5
        </div>
        {% else %}
        {% endif %}
      </div>
{%endblock content%}
