<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/personal_account.css">
</head>

<body>
<div class="account-page">

    <div class="shapka-container">
        <div class="shapka-field">
            <div class="back-logo">
                <img src="./../static/images/back.svg" alt="Back">
            </div>
            <button type="button" class="auth-button">BACK</button>
        </div>
        <button type="button" class="auth-button">LOG OUT</button>
    </div>

    <div class="content-container">
        <div class="account-container">
            <div class="account-info">ACCOUNT INFO</div>
            
            <div class="account-content">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="./../static/images/user_photo.png" alt="Profile Photo">
                        <span>Profile Photo</span>
                    </div>
                </div>
                
                <div class="info-section">
                    <div class="account-label">USERNAME</div>
                    <div class="account-label">EMAIL ADDRESS</div>
                    
                    <div class="edit-info">
                        <button type="button" class="account-button">
                            <div class="edit-logo">
                                <img src="./../static/images/edit-line.svg" alt="Edit">
                            </div>
                            EDIT ACCOUNT INFO
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscription-container">
            <button type="button" class="subscription-button">
                <div class="subscription-img">
                    <img src="./../static/images/subscription.svg" alt="Subscription">
                </div>
                <span class="subscription-text">Subscription</span>
            </button>
            <div class="subscription-label">STATUS</div>
        </div>
    </div>
</div>
</body>
</html>