{% extends "layout.html"%}

{%block styles%}

    <link rel="stylesheet" href="{{url_for('static', filename='personal_account.css')}}">
{% endblock styles%}
{%block content%}
<div class="content-container">
        <div class="account-container">
            <div class="account-info">ACCOUNT INFO</div>
            
            <div class="account-content">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="{{url_for('static', filename = 'profile_pics/'+current_user.image_file)}}" alt="Profile Photo">
                        <span>Profile Photo</span>
                    </div>
                </div>
                
                <div class="info-section">
                    <div class="account-label">{{current_user.username}}</div>
                    <div class="account-label">{{current_user.email}}</div>
                    
                    <a href = "{{url_for('edit_account_info', user = current_user)}}"><div class="edit-info">
                        <button type="button" class="account-button">
                            <div class="edit-logo">
                                <img src="{{url_for('static', filename='images/edit-line.svg')}}" alt="Edit">
                            </div>
                            EDIT ACCOUNT INFO
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscription-container">
            <a href = "{{url_for('subs_shop')}}"><button type="button" class="subscription-button">
                <div class="subscription-img">
                    <img src="./../static/images/subscription.svg" alt="Subscription">
                </div>
                <span class="subscription-text">Subscription</span>
            </button></a>
            <div class="subscription-label">
                {% if current_user.get_role() == 'user' %}
                {% if current_user.is_active() %} ACTIVE: till {{current_user.date_end}}{% else %} DISABLED {%endif%}
                {%else%}
                ACTIVE
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock content%}
