{% extends "layout.html"%}
{% block links%}
<div class="shapka-field">
        <div class="user-logo">
            <img src="{{url_for('static', filename='images/user_black.svg')}}" alt="User">
        </div>
        
        <a href = "{{url_for('common.home')}}"><button type="button" class="auth-button">HOME</button></a>
      </div>

      <a href = "{{url_for('common.logout')}}"><button type="button" class="auth-button s1">LOG OUT</button></a>
      {% if current_user.get_role() == 'admin'%}
      <a href = "{{url_for('admin.settings')}}"><button type="button" class="auth-button">SETTINGS</button></a>
    {% else %}
    {% endif%}
    {% endblock links %}


{%block styles%}

    <link rel="stylesheet" href="{{url_for('static', filename='personal_account.css')}}">
{% endblock styles%}
{%block content%}
<div class="content-container">
        <div class="account-container">
            <div class="account-info">ACCOUNT INFO</div>
            
            <div class="account-content">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="data:{{ current_user.avatar_mime_type }};base64,{{ current_user.avatar_data }}" alt="Profile Photo">
                        <span>Profile Photo</span>
                    </div>
                </div>
                
                <div class="info-section">
                    <div class="account-label">{{current_user.username}}</div>
                    <div class="account-label">{{current_user.email}}</div>
                    
                    <a href = "{{url_for('common.edit_account_info')}}"><div class="edit-info">
                        <button type="button" class="account-button">
                            <div class="edit-logo">
                                <img src="{{url_for('static', filename='images/edit-line.svg')}}" alt="Edit">
                            </div>
                            EDIT ACCOUNT INFO
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscription-container">
            <a href = "{{url_for('sub.subs_shop')}}"><button type="button" class="subscription-button">
                <div class="subscription-img">
                    <img src="./../static/images/subscription.svg" alt="Subscription">
                </div>
                <span class="subscription-text">Subscription</span>
            </button></a>
            <div class="subscription-label">
                {% if current_user.get_role() == 'user' %}
                {% if current_user.is_active() %} ACTIVE: till {{current_user.date_end}}{% else %} DISABLED {%endif%}
                {%else%}
                ACTIVE
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock content%}
