{% extends "layout.html"%}
{% block styles%}
<link rel="stylesheet" href="{{url_for('static', filename = 'user_subscription.css')}}">
    {% endblock styles%}

        {% block links%}
        <div class="shapka-field">
            <div class="back-logo">
                <img src="{{url_for('static', filename = 'images/back.svg')}}" alt="Back">
            </div>
            <a href = "{{url_for('common.account')}}"><button type="button" class="auth-button">BACK</button></a>
        </div>
        <a href ="{{url_for('common.logout')}}"><button type="button" class="auth-button"> LOG OUT</button></a>
        {% endblock links%}

    {% block content %}
    <div class="subscription-container">
        <div class="subscription-header">SUBSCRIPTION</div>
        
        <div class="status-section">
            STATUS
        </div>
        
        <div class="info-section">
            INFORMATION ABOUT SUBSCRIPTION
        </div>
        
        <div class="pricing-title">PRICING PLANS</div>
        
        <div class="pricing-plans">
            <div class="plan">
                <div class="plan-title">1 WEEK</div>
                <div class="plan-price"> 99</div>
                <div class="plan-period">RUB</div>
                <button class="subscribe-button">Subscribe</button>
            </div>
            
            <div class="plan">
                <div class="plan-title">1 MONTH</div>
                <div class="plan-price">199</div>
                <div class="plan-period">RUB</div>
                <button class="subscribe-button">Subscribe</button>
            </div>
            
            <div class="plan">
                <div class="plan-title">1 YEAR</div>
                <div class="plan-price">999</div>
                <div class="plan-period">RUB</div>
                <button class="subscribe-button">Subscribe</button>
            </div>
        </div>
    </div>
    {% endblock content%}
