<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/user.css">
</head>

<body>
<div class="user-page">

    <div class="shapka-container">
    <div class="shapka-field">
        <div class="user-logo">
              <img src="./../static/images/user_black.svg" alt="User">
        </div>
        <button type="button" class="auth-button">PERSONAL ACCOUNT</button>
      </div>

        <button type="button" class="auth-button">LOG OUT</button>

    </div>



    <div class="user-container">
        <div class="auth-logo">
              <img src="./../static/images/logo.svg" alt="Logo">
        </div>
        <div class="user-label">
          ATTEMTIONS
        </div>
      </div>

</div>
</body>
</html>